Name: {{.Name}}, Race: {{.Race}}, Class: {{.Class}} [{{.Level}}]
==========================================================
STR: {{.StrBase}} ({{.StrMod}})        Saving Throws         {{if ne .Race "Human"}}[Racial bonus]{{end}}
DEX: {{.DexBase}} ({{.DexMod}})        Death Ray/Poison:  {{index .Saves 1}} {{if ne (index .SavesMod 0) "+0"}}[{{index .SavesMod 0}}]{{end}}
CON: {{.ConBase}} ({{.ConMod}})        Magic Wands:       {{index .Saves 1}} {{if ne (index .SavesMod 1) "+0"}}[{{index .SavesMod 1}}]{{end}}
INT: {{.IntBase}} ({{.IntMod}})        Paralysis/Petrify: {{index .Saves 2}} {{if ne (index .SavesMod 2) "+0"}}[{{index .SavesMod 2}}]{{end}}
WIS: {{.WisBase}} ({{.WisMod}})        Dragon Breath:     {{index .Saves 3}} {{if ne (index .SavesMod 3) "+0"}}[{{index .SavesMod 3}}]{{end}}
CHA: {{.ChaBase}} ({{.ChaMod}})        Spells:            {{index .Saves 4}} {{if ne (index .SavesMod 4) "+0"}}[{{index .SavesMod 4}}]{{end}}

Open Doors: {{.OpenDoors}}/6     Armor Class:        {{.AC}}
Find traps: {{.FindTraps}}/6     Hitpoints:          {{.HP}}
Search:     {{.SecretDoors}}/6     Base Attack Bonus: {{.AttackBonus}}
Listen:     1/6     Initiative:        {{.DexMod}}

{{ if not .Skills }}{{- else }}
Open Locks:    {{.Skills.OpenLocks}}
Remove Traps:  {{.Skills.RemoveTraps}}
Pick Pockets:  {{.Skills.PickPockets}}
Move Silently: {{.Skills.MoveSilently}}
Climb Walls:   {{.Skills.ClimbWalls}}
Hide:          {{.Skills.Hide}}
Listen:        {{.Skills.Listen}}
{{ end -}}

{{- if not .SpellSlots }}{{- else }}
# Spells
==========================
{{- if gt (index .SpellSlots 0) 0}}
Level 1          [{{index .SpellSlots 0}} slots]
{{- range (index .Spells 0)}}
  {{.}}
{{- end}}
{{end}}
{{- if gt (index .SpellSlots 1) 0}}
Level 2          [{{index .SpellSlots 1}} slots]
{{- range (index .Spells 1)}}
  {{.}}
{{- end}}
{{end}}
{{- if gt (index .SpellSlots 2) 0}}
Level 3          [{{index .SpellSlots 2}} slots]
{{- range (index .Spells 2)}}
  {{.}}
{{- end}}
{{end}}
{{- if gt (index .SpellSlots 3) 0}}
Level 4          [{{index .SpellSlots 3}} slots]
{{- range (index .Spells 3)}}
  {{.}}
{{- end}}
{{end}}
{{- if gt (index .SpellSlots 4) 0}}
Level 5          [{{index .SpellSlots 4}} slots]
{{- range (index .Spells 4)}}
  {{.}}
{{- end}}
{{end}}
{{- if gt (index .SpellSlots 5) 0}}
Level 6          [{{index .SpellSlots 5}} slots]
{{- range (index .Spells 5)}}
  {{.}}
{{- end}}
{{end}}
{{end}}
